---
import {getCollection, type CollectionEntry} from 'astro:content'
import Layout from "../../layouts/Layout.astro";
import dayjs from "dayjs";
export async function getStaticPaths() {
  const entries = await getCollection('blog')
  return entries.map((entry) => {
    return {
      params: {slug: entry.slug},
      props: {entry}
    }
  })
}

interface Props {
  entry: CollectionEntry<'blog'>
}
const {entry} = Astro.props
const date = dayjs(entry.data.date)
const {Content} = await entry.render()
---
<Layout>
    <style global>
        main article section h2 {
            @apply relative text-3xl font-bold mt-12 mb-5 pb-2 border-b-[4px] border-orange-200;
        }

        main article section h2::before {
            @apply w-1/6 absolute left-0 h-[4px] -bottom-[4px] bg-orange-500 content-[''];
        }

        main article section h3 {
            @apply text-2xl font-bold mt-10 mb-5 pl-3 border-l-8 border-orange-500;
        }
    </style>

    <div class="grid grid-cols-2 gap-10 w-full max-w-7xl mx-auto">
        <main class="col-span-2 p-16 bg-white">
            <article class="grid gap-16">
                <header class="grid gap-3">
                    <h1 class="text-4xl font-bold">{entry.data.title}</h1>
                    <p class="text-neutral-500">
                        投稿日時：
                        <time datetime={date.toISOString()}>{date.format('YYYY-MM-DD')}</time>
                    </p>
                </header>
                <section>
                    <Content/>
                </section>
            </article>
        </main>
        <!--<aside class="p-5 bg-white">-->
        <!--    aside-->
        <!--</aside>-->
    </div>
</Layout>
