---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import H1 from "../components/atoms/H1.astro";
import {post} from "../domain/post";

const res = await post.getPosts()
---

<Layout title="Welcome to Astro.">
    <div class="flex flex-col gap-10 w-full max-w-7xl mx-auto">
        <main class="px-5 p-10 md:p-16 bg-white">
            <header>
                <H1 size="sm">記事一覧</H1>
            </header>
            <div class="mt-5 md:mt-10 grid grid-cols-1 lg:grid-cols-2 gap-5 md:gap-10">
              {
                res.contents.map((post) => (
                        <a href={`posts/${post.id}`}>
                            <Card title={post.title} tags={post.tags} src={post.image.url}/>
                        </a>
                ))
              }
            </div>
        </main>
    </div>
</Layout>
